body {
  text-align: center;
  margin: 0;
}

h1 {
  margin: 50 auto 0 auto;
  font-family: 'Architects Daughter', cursive;
  font-size: 6.62rem;
  color:  #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Crimson Text', serif;
  color: #66BFBF;
}
h3{
  font-family: 'Crimson Text', serif;
  color:  #11999E;

}

a{
  color:  #11999E;
  font-family: 'Crimson Text', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}



hr{
  border-style:dotted;
  width:2.5%;
  border-width: thick;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  color: grey;

}
.cipri{
  padding-top: 100px;
width: 30%;
border-radius: 90%;
padding-bottom: 100px;
}

.top{
  padding-top: 90px;
  background-color: #EAF6F6;
}


.middle-container{

background-color: white;

}

.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;



}


.cloud2 {
  position: absolute;
  top:300px;
  left: 450px;
}

.cloud1 {
  position: absolute;
  left: 1250px;
  top: 200px;
}
.p{
  font-size: 2rem;
  font-weight: normal;
  line-height: 2;
    color:  #11999E;
}
.skill-row{
  width: 40%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
padding-bottom: 50px;
font-size: 1.2rem;
}
.skills{
  font-size: 2rem;
}
.img{
  border-radius: 100%;

  width: 25%;
  float: left;
  margin-right: 30px;
}
.munte{
  width: 40%;
}
.img2{

  width: 25%;
  float: right;
  margin-left: 30px;

}
.cop{
  color: #EAF6F6;
  margin: 20px;
}


.contact-me{
  padding: 50px;
  margin: 100px;
  font-size: 3rem;
  color: #11999E;
}
.myButton {
	box-shadow: 0 10px 14px -7px #9fb4f2;
	background:linear-gradient(to bottom, #3687f7 5%, #476e9e 100%);
	background-color:#3687f7;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #3687f7 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.cm{
  padding: 30px;
  width: 50%;
  margin: auto;
  font-weight: bold;
  font-size: 2rem;
}
.profile{
  width: 50%;
  margin: auto;
  color: #11999E;
  padding: 30px;
  font-size: 2rem;
  font-weight: bold;

}
.a{
margin-top: 200px;
margin-bottom: 200px;
}
.Hello{
  margin-bottom: 200px;


}
.lol{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
line-height: 2;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 200px 0;
}
